//  всё общее для всей страницы до иконки для lesson
    
    //  общий бэкграунд
.studentBack
    background: #7e93bb
    height: 2000px
    background-image: url(./Student_materials/bg.png)
    background-size: cover
    //   очень важная вешь пихаем везде
.positionRelative
    position: relative

//  заглавие и разметка страницы
.main
    padding: 2% 5% 0 5%
    >h1
        color: #17134c




.iconTeacherCancel
    background-image: url(./Teacher_materials/cancel.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 3.5em
   

//  меню навигации по урокам
.menu>ul>li
    display: inline-block
    margin-right: 30px
    padding: 5% auto
    margin-bottom: 40px
    >a
        color: #17134c !important
        >i
            position: absolute
            bottom: -10px
            right: -15px
            font-size: 35px

.selectAll        
    border: 1px solid #17134c
    padding: 0px 3px

.selectBottom
    border-bottom: 1px solid #17134c
    padding-right: 15px
    position: relative


// дроп меню
.dropMenu
    position: absolute
    left: 0px
    top: 25px
    width: 115%
    display: none
    >li
        background-color: white
        width: 85%
        >a
            color: #17134c

ul.row  li:hover  ul.dropMenu
    display: block



// lesson причем везде где есть это слово
        
.lesson
    background-color: #122035
    color: white
    padding: 10px 0 10px 0 
    text-align: center
    >.offset-s9
        font-size: 10px
        color: orange
        margin-top: 0 !important
    >.s1
        margin-top: 10px

b
    font-size: 12px


//  фоны внутри lesson и активный lesson
.bc-dark
    background-color: #17134c

.bc-white
    background-color: white

.row 
    margin-bottom: 3px !important

.subMarginTop
    margin-top: 10px

    
.subject
    padding: 15px 0 !important
    >div
        font-size: 20px !important

//  иконки
.iconStudentsFolder
    background-image: url(./Student_materials/folder.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 7em

.iconStudentsContract
    background-image: url(./Student_materials/contract.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 4em

.iconStudentsEdit
    background-image: url(./Student_materials/edit.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 1.5em

.iconStudentsPlus
    background-image: url(./Student_materials/plus.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 1.5em

.iconStudentsTick
    background-image: url(./Student_materials/tick.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: -2.5em

.iconStudents5
    background-image: url(./Student_materials/5.png)
    background-size: cover
    position: absolute
    width: 10px
    height: 15px
    right: -1em
    top: 8px

