html {
  min-width: 1023px; }

html, body {
  position: relative; }

main {
  padding: 0px 15px 880px 15px; }

.progress-student-background {
  background: url(Background-progress-for-students.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.menu-color {
  background-color: #151248; }

.sidenav {
  width: 338px;
  padding-bottom: 10px; }

li.collection-item.avatar > img.nav-icon-custom.circle {
  background-color: white;
  width: 30px !important;
  height: 30px !important; }

li.collection-item.avatar > a > img.icon-custom.little-circle {
  background-color: white;
  width: 20px !important;
  height: 20px !important;
  position: relative;
  left: 40px !important; }

ul.collection {
  border: none !important; }
  ul.collectionli.collection-item {
    border: none !important; }

li.collecton-item {
  position: relative; }

.nav-icon-custom {
  display: inline-block;
  width: 30px;
  height: 30px; }

.logo-custom {
  padding-left: 96px !important;
  font-size: 24px; }

.collection .collection-item {
  background-color: #151248 !important;
  border-bottom: none !important;
  color: white; }

.collection .collection-item p.logo-custom span {
  font-size: 26px;
  background-color: #dd7d1e;
  color: white;
  text-align: center;
  line-height: 0.38;
  border-radius: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 51px;
  left: 131px; }

li.collection-item.avatar > a {
  display: inline-block; }

.sidenav li > a > img.icon-custom {
  width: 20px;
  height: 20px;
  position: relative;
  left: 40px !important;
  margin: 0; }

.nav--wrapper--bottom > ul {
  display: block;
  width: 100%; }

.nav--wrapper--bottom li > a > img {
  width: 20px;
  height: 20px;
  position: relative;
  left: 40px !important;
  margin: 0; }

.collection .collection-item.avatar {
  min-height: 50px;
  padding-left: 85px; }

img.avatar-position {
  left: 90% !important;
  width: 20px !important;
  height: 20px !important; }

.collection .circle {
  left: 85px !important; }

.little-circle {
  border-radius: 50%;
  background-color: white; }

.side-menu__custom {
  -webkit-transform: translateX(-297px);
      -ms-transform: translateX(-297px);
          transform: translateX(-297px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  height: 100%;
  -webkit-transition: 0.6s;
          transition: 0.6s; }
  .side-menu__custom:hover {
    cursor: pointer;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 0.6s;
            transition: 0.6s; }

.side-menu__custom:hover li > a img.icon-custom {
  display: none;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

.side-menu__custom:hover li > a.secondary-content > img.icon-custom.little-circle {
  display: none;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

.sidenav li > a {
  color: white;
  height: 40px !important; }

.progress-student-header-wrapper {
  margin: 0 40px;
  position: relative; }

.header-progress-student-title {
  text-align: right; }

.progress-student-header-wrapper > div.row {
  margin-bottom: 0px;
  position: relative; }

.progress-student-header-wrapper > div > div.row > div.col.l4 > span {
  display: inline-block;
  height: 40px;
  width: 40px;
  color: #5f80d2;
  background-color: #eebe8e;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  position: relative;
  top: -8px; }

.progress-student-header-wrapper > div h1 {
  display: inline-block;
  color: #5f80d2;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  margin: 65px 0px 10px 20px; }

.progress-student-header-wrapper > div.row > div.col.l4 > p {
  text-align: right;
  font-size: 35px;
  font-weight: bold;
  color: #76b4fc;
  line-height: 20px;
  margin-bottom: 0px; }

.progress-arrows-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 30px; }

.progress-arrows-wrapper a.progress-arrows {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  color: #dd7d1e; }
  .progress-arrows-wrapper a.progress-arrows:hover {
    background-color: #e2e2e2; }

.progress-arrows-wrapper p {
  font-size: 10px;
  margin: 0;
  color: grey; }

.progress-arrows-wrapper a:hover + p.progress-arrow-left-index,
.progress-arrows-wrapper a:hover + p.progress-arrow-right-index {
  cursor: pointer;
  visibility: visible; }

.progress-arrow-right-index {
  position: relative;
  top: -5px;
  visibility: hidden; }

.progress-arrow-left-index {
  position: relative;
  top: -5px;
  visibility: hidden; }

.table-wrapper {
  margin: 0 40px;
  position: relative; }

.progress-student-background div.table-wrapper > table.striped > {
  width: 100%; }

.progress-student-background div.table-wrapper > table.striped > thead > tr > th {
  background-color: #3b58a1;
  border-radius: 8px !important;
  height: 60px;
  border: 3px solid white;
  text-align: center;
  padding: 4px; }
  .progress-student-background div.table-wrapper > table.striped > thead > tr > th:hover {
    cursor: pointer;
    background-color: #5f80d2; }

.progress-student-background div.table-wrapper > table.striped > thead > tr > th > p {
  font-size: 10px;
  font-weight: normal;
  color: white; }

.progress-student-background div.table-wrapper > table.striped > thead > tr > th > p, span {
  margin: 0; }

.progress-student-table-th-no {
  width: 60px;
  font-weight: normal;
  color: white; }

.progress-student-table-th-subject {
  width: 240px;
  font-weight: normal;
  color: white; }

.progress-student-table-th-day {
  width: 60px;
  font-weight: normal;
  color: white; }

.progress-student-table-th-sunday {
  width: 60px;
  font-weight: normal;
  color: white;
  background-color: #3f5079 !important; }

.progress-student-table-th-total {
  width: 50px;
  font-weight: normal;
  color: white;
  background-color: #dd7d1e !important; }

.progress-student-background div.table-wrapper tbody {
  border-top: 6px solid white; }

.progress-student-background div.table-wrapper tbody > tr > td {
  border: 3px solid white;
  padding: 0px; }

.progress-student-background div.table-wrapper tbody:nth-child(odd) {
  background-color: #eeeeee; }

.progress-student-background div.table-wrapper tbody:nth-child(even) {
  background-color: #e2e0e0 !important; }

.progress-student-table-td-no {
  width: 60px !important;
  font-weight: normal;
  text-align: center;
  color: #213b63; }

.progress-student-table-td-subject {
  width: 240px !important;
  font-weight: normal;
  color: #213b63; }

.progress-student-table-td-subject > span {
  display: inline-block;
  padding: 7px 5px;
  font-weight: 600;
  width: 100%;
  height: 100%; }
  .progress-student-table-td-subject > span:hover {
    cursor: pointer;
    outline: 2px solid; }

.progress-student-table-td-day {
  width: 60px !important;
  font-weight: normal;
  text-align: center;
  color: #213b63; }

.progress-student-table-lect,
.progress-student-table-work,
.progress-student-table-lab {
  position: relative; }

.progress-student-table-td-day.progress-student-table-lect > span {
  display: inline-block;
  border: 2px solid transparent;
  color: #3b58a1;
  width: 100%;
  height: 100%;
  padding: 8px 5px;
  margin: 0px; }
  .progress-student-table-td-day.progress-student-table-lect > span:hover {
    cursor: pointer;
    border: 2px solid #54b9e9;
    color: #54b9e9; }

.progress-student-table-lect > span:hover::after {
  content: "Lect";
  display: inline-block;
  padding: 0px 8px;
  position: absolute;
  right: -51px;
  top: 5px;
  border: 2px solid #54b9e9;
  color: #54b9e9; }

.progress-student-table-td-day.progress-student-table-work > span {
  display: inline-block;
  border: 2px solid transparent;
  color: #3b58a1;
  width: 100%;
  height: 100%;
  padding: 8px 5px;
  margin: 0px; }
  .progress-student-table-td-day.progress-student-table-work > span:hover {
    cursor: pointer;
    border: 2px solid #bd234f;
    color: #bd234f; }

.progress-student-table-work > span:hover::after {
  content: "Work";
  display: inline-block;
  padding: 0px 8px;
  position: absolute;
  right: -58px;
  top: 5px;
  border: 2px solid #bd234f;
  color: #bd234f; }

.progress-student-table-td-day.progress-student-table-lab > span {
  display: inline-block;
  border: 2px solid transparent;
  color: #3b58a1;
  width: 100%;
  height: 100%;
  padding: 8px 5px;
  margin: 0px; }
  .progress-student-table-td-day.progress-student-table-lab > span:hover {
    cursor: pointer;
    border: 2px solid #179c71;
    color: #179c71; }

.progress-student-table-lab > span:hover::after {
  content: "Lab";
  display: inline-block;
  padding: 0px 8px;
  position: absolute;
  right: -47px;
  top: 5px;
  border: 2px solid #179c71;
  color: #179c71; }

.progress-student-table-td-sunday {
  width: 60px !important;
  font-weight: normal;
  text-align: center;
  color: #213b63; }

.progress-student-table-td-total {
  width: 50px !important;
  font-weight: normal;
  text-align: center;
  color: #dd7d1e; }

.main-color {
  background-color: #213b63; }

.footer-short {
  margin: 0 auto;
  padding: 0px 80px !important; }

footer .row .col {
  padding: 0px 0px; }

.footer-short-h5--margin {
  margin: 5px 0px 5px 0px;
  line-height: 100% !important; }

.page-footer.main-color.footer-short > div div.col.offset-l3.l1 > a {
  float: right;
  margin-left: 15px; }

.footer-short-icon {
  color: white;
  font-size: 30px; }

footer .footer-short-h5--margin {
  color: #9da8ba; }

footer .footer-short-h5--margin {
  font-size: 20px;
  font-weight: light !important;
  color: white; }

footer.page-footer.main-color.footer-short > div div.row {
  margin-bottom: 0px !important; }

div.footer-copyright {
  min-height: 20px !important;
  padding: 0px !important;
  font-size: 12px !important;
  color: #9da8ba;
  border-top: 1px solid #9da8ba; }

.footer-container-custom {
  padding: 20px 0px !important; }

.clearfix {
  clear: both; }

/*# sourceMappingURL=styles.css.map */