.letter-window-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(59, 88, 161, 0.1);
  padding: 11%; }

.letter-message-wrapper {
  display: inline-block;
  width: 938px;
  height: 344px;
  box-shadow: 3px 3px 4px grey;
  background-image: url(Letter-Background.png);
  z-index: 20;
  text-align: left;
  padding: 58px 58px 40px 84px; }

.letter-text {
  display: inline-block;
  text-align: left; }

.letter-text > h5 {
  font-size: 20px !important;
  font-weight: normal;
  color: #3b58a1; }

.letter-text > h5 > span {
  color: #dd7d1e; }

.letter-text > p {
  font-size: 16px !important;
  color: #3b58a1; }

.letter-text > p > a {
  color: #3b58a1 !important; }

.letter-text > p > a:hover{
  cursor: pointer;
  }

.letter-text p:first-of-type {
  line-height: 1.4;
  letter-spacing: 0.1;
  padding-top: 7px; }

.letter-text p:last-child {
  font-size: 20px !important;
  padding-top: 16px; }

/*# sourceMappingURL=styles.css.map */