.email-window-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(59, 88, 161, 0.1);
  padding: 12%; }

.email-window-message-wrapper {
  display: inline-block;
  width: 619px;
  height: 344px;
  box-shadow: 3px 3px 4px grey;
  background-image: url(Email-window.png);
  z-index: 20; }

.email-window-text {
  display: inline-block;
  position: relative;
  top: 86px;
  right: 140px; }

.email-window-text > h5 {
  font-size: 15px !important;
  font-weight: bold;
  letter-spacing: 1.5;
  color: #dd7d1e; }

.email-window-text > p {
  font-size: 14px !important;
  color: #3b58a1; }

.email-window-text p:first-of-type {
  font-weight: bold;
  padding-top: 0px; }

.email-window-text p:last-child {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
