html, body
    position: relative

.background-table-teachers
    padding: 0px 15px 15px 15px
    background: white
    background-repeat: no-repeat
    background-size: 100% 100%
    min-width: 1023px

.header-table-custom
    margin: 15px 0px 30px 0px

.table-font-color-dark
    color: #3B58A1

.table-font-color-light
    color: #4A90E2

.table-header-font-size
    font-size: 30px
    font-weight: bold

.table-header-margin
    margin-left: 6.5%
.background-table-teachers h2 
    display: inline-block
.background-table-teachers .filled-in[type="checkbox"] + label
    padding: 0 !important
    position: relative
    cursor: pointer
    height: 0px
    margin: 10px
    line-height: 18px

.background-table-teachers [type="checkbox"].filled-in:checked + label::before
    width: 6px
    height: 11px

.background-table-teachers [type="checkbox"].filled-in:not(:checked) + label::after
    border: 1px solid #3B58A1 !important
    height: 16px
    width: 16px

.background-table-teachers [type="checkbox"].filled-in:checked + label::after
    border: 2px solid #3B58A1
    background-color: #3B58A1
    width: 16px
    height: 16px

.table-text-center>th,
.table-text-center
    text-align: center !important

.background-table-teachers td, th
    padding: 15px 8px
    border-bottom: 2px solid #3B58A1 !important

.background-table-teachers td
    padding: 5px 5px !important

.table-text-decoration
    text-decoration: underline

.table-dark-col-bg-color
    background-color: rgb(238,238,238)

.table-light-col-bg-color
    background-color: rgb(249,249,249)

.table-bg-color-orange
    background-color: #DD7D1E !important

.table-btn
    float: right
    margin-top: 2rem
    font-size: 20px
    text-transform: none !important
    height: 46px
    padding: .5% 7% .5% 7%

.table-teachers-col-narrow-width
    width: 25.5%

.table-teachers-col-name-width
    width: 36%



