.teacherBack {
  background-color: green;
  padding: 0 0 0 40px; }

.positionRelative {
  position: relative; }

.textColor {
  color: #3b58a1; }

.orangeColor {
  color: #dd7d1e; }

.lightTextColor {
  color: #76b4fc; }

.greyText {
  color: #afafaf; }

.header {
  height: 300px;
  background-image: url(./assets/mesh-1430107_1280_copy_4.png);
  background-size: cover;
  padding: 4% 0 2% 10%;
  margin-bottom: 0px !important; }
  .header > div > span {
    margin-bottom: 10px;
    font-size: 20px; }

.photo {
  background-image: url(./assets/photo.png);
  background-size: cover;
  height: 150px;
  width: 150px;
  margin-right: 40px; }

.userName {
  margin-bottom: 30px;
  margin-top: 0px !important; }

.schedule {
  background-color: #ecf0fa;
  padding-top: 1%;
  padding-bottom: 4%; }
  .schedule > a {
    position: absolute;
    right: 200px;
    top: 70px; }
  .schedule > h3 {
    padding-left: 140px;
    margin-bottom: 5%; }
  .schedule > .row > .left > .lightTextColor > b {
    font-size: 45px !important; }

.littleBox {
  background-color: #dbe2f5;
  height: 300px;
  width: 160px;
  margin: 0 3% 0 1%;
  box-shadow: 3px 3px #afafaf; }

.boxPast {
  background-color: #dbe2f5;
  height: 300px;
  margin-right: 4%;
  padding-left: 2% !important;
  box-shadow: 3px 3px #afafaf; }

.boxMarg {
  margin: 30px 0 30px 0;
  font-size: 25px; }

.boxNow {
  background-color: white;
  height: 310px;
  margin-right: 4%;
  padding-left: 2% !important;
  border: 10px solid #76b4fc;
  top: -7px; }

.boxFuture {
  background-color: #dbe2f5;
  height: 300px;
  margin-right: 4%;
  padding-left: 2% !important;
  border: 5px solid #76b4fc; }
  .boxFuture > h4 {
    margin: 15px 0 10px 0 !important; }
  .boxFuture > div {
    margin: 30px 0 20px 0 !important; }

.boxNextFuture {
  background-color: #dbe2f5;
  height: 300px;
  margin-right: 4%;
  padding-left: 2% !important;
  padding-top: 1%;
  border: 5px solid #76b4fc; }
  .boxNextFuture > h4 {
    margin: 15px 0 10px 0 !important; }
  .boxNextFuture > div {
    margin: 30px 0 20px 0 !important; }

.iconArrowRight {
  background-image: url(./assets/arrow_right.png);
  height: 67px;
  width: 30px;
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 116px; }

.iconArrowLeft {
  background-image: url(./assets/arrow_left.png);
  height: 67px;
  width: 37px;
  background-size: cover;
  position: absolute;
  right: -50%;
  top: 116px; }

.homework {
  background-color: white;
  padding: 5% 2% 5% 2%; }
  .homework > div > h3 {
    margin-left: 10%;
    margin-bottom: 2%; }

.iconAroundSend {
  background-image: url(./assets/ic_drafts_blue.png);
  height: 30px;
  width: 30px;
  background-size: cover;
  position: absolute;
  top: 22%;
  left: 60%; }

.readSend {
  position: absolute;
  colir: grean !important;
  top: 50px;
  left: 60%;
  display: none; }

.iconAroundSend:hover + .readSend {
  display: block; }

.iconAroundSend:hover {
  background-color: orange;
  border-radius: 20px;
  width: 30px;
  height: 30px; }

.iconAroundUpdate {
  background-image: url(./assets/ic_refresh_blue.png);
  height: 30px;
  width: 30px;
  background-size: cover;
  position: absolute;
  top: 22%;
  left: 65%; }

.back {
  position: absolute;
  top: 22%;
  left: 85%; }

.homeworkLine {
  background-color: #ecf0fa;
  padding: 20px 0px 20px 100px; }
  .homeworkLine > div {
    margin-left: 5%;
    font-size: 30px; }
  .homeworkLine > a {
    font-size: 20px; }

.homeworkMarginRight {
  margin-right: 5%; }

.iconFolder {
  background-image: url(./assets/ic_folder_copy.png);
  height: 30px;
  width: 30px;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 60%; }

.iconCreate {
  background-image: url(./assets/ic_create.png);
  height: 30px;
  width: 30px;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 65%; }

.iconDescription {
  background-image: url(./assets/ic_description_blue.png);
  height: 30px;
  width: 30px;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 70%; }

.showMore {
  position: absolute;
  top: 35%;
  left: 85%; }

.iconArrowDown {
  background-image: url(./assets/arraw_down.png);
  height: 33px;
  width: 60px;
  background-size: cover;
  position: absolute;
  left: 45%;
  background-color: white;
  border: 0px solid white !important; }

.iconArrowDown:focus {
  background-color: white !important; }

.news {
  background-color: white;
  padding: 2%; }
  .news > h3 {
    margin-left: 10%;
    margin-bottom: 2%; }
  .news > div > div > div > div > p {
    margin-bottom: 30px !important;
    font-size: 25px; }
  .news > div > div > div > div > div, .news a, .news span {
    font-size: 20px;
    margin-right: 0px !important; }

.activNews {
  background-color: #76b4fc !important; }

.events {
  background-color: white;
  padding: 2% 2% 8% 2%; }
  .events > div > a > h3 {
    margin-left: 10% !important;
    margin-bottom: 2%; }
  .events > div > a {
    font-size: 20px;
    margin-top: 40px;
    width: 120px !important; }
  .events > div > a:last-child {
    border-bottom: 1px solid grey; }
  .events > div > div > div > div {
    padding: 35px 24px !important; }
  .events > div > div > div > div > p {
    margin-bottom: 30px !important;
    font-size: 25px; }
  .events > div > div > div > div > div, .events a, .events span {
    font-size: 20px;
    margin-right: 0px !important; }

.buttomActive {
  padding: 15px 30px;
  font-size: 30px;
  background-color: #dd7d1e;
  width: 100px;
  color: white !important;
  border-radius: 5px; }

.buttom {
  padding: 15px 30px;
  font-size: 30px;
  background-color: white;
  width: 100px;
  color: #dd7d1e;
  border: 1px solid #dd7d1e;
  border-radius: 5px; }

.card-action {
  border-top: 0px solid grey !important; }

.bottom {
  height: 300px;
  background-image: url(./assets/mesh-1430107_1280_copy_4.png);
  background-size: cover; }

/*# sourceMappingURL=styles.css.map */
