html {
  background: url(background-x2.png) 100% 100%;
  min-width: 1023px; }

html, body {
  position: relative; }

main {
  padding: 0px 15px 880px 15px; }

.menu-color {
  background-color: #151248; }

.sidenav {
  width: 338px;
  padding-bottom: 10px; }

li.collection-item.avatar > img.nav-icon-custom.circle {
  background-color: white;
  width: 30px !important;
  height: 30px !important; }

li.collection-item.avatar > a > img.icon-custom.little-circle {
  background-color: white;
  width: 20px !important;
  height: 20px !important;
  position: relative;
  left: 40px !important; }

ul.collection {
  border: none !important; }
  ul.collectionli.collection-item {
    border: none !important; }

li.collecton-item {
  position: relative; }

.nav-icon-custom {
  display: inline-block;
  width: 30px;
  height: 30px; }

.logo-custom {
  padding-left: 96px !important;
  font-size: 24px; }

.collection .collection-item {
  background-color: #151248 !important;
  border-bottom: none !important;
  color: white; }

.collection .collection-item p.logo-custom span {
  font-size: 26px;
  background-color: #dd7d1e;
  color: white;
  text-align: center;
  line-height: 0.38;
  border-radius: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 51px;
  left: 131px; }

li.collection-item.avatar > a {
  display: inline-block; }

.sidenav li > a > img.icon-custom {
  width: 20px;
  height: 20px;
  position: relative;
  left: 40px !important;
  margin: 0; }

.nav--wrapper--bottom > ul {
  display: block;
  width: 100%; }

.nav--wrapper--bottom li > a > img {
  width: 20px;
  height: 20px;
  position: relative;
  left: 40px !important;
  margin: 0; }

.collection .collection-item.avatar {
  min-height: 50px;
  padding-left: 85px; }

img.avatar-position {
  left: 90% !important;
  width: 20px !important;
  height: 20px !important; }

.collection .circle {
  left: 85px !important; }

.little-circle {
  border-radius: 50%;
  background-color: white; }

.side-menu__custom {
  -webkit-transform: translateX(-297px);
      -ms-transform: translateX(-297px);
          transform: translateX(-297px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  height: 100%;
  -webkit-transition: 0.6s;
          transition: 0.6s; }
  .side-menu__custom:hover {
    cursor: pointer;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 0.6s;
            transition: 0.6s; }

.side-menu__custom:hover li > a img.icon-custom {
  display: none;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

.side-menu__custom:hover li > a.secondary-content > img.icon-custom.little-circle {
  display: none;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

.sidenav li > a {
  color: white;
  height: 40px !important; }

.header-button {
  padding: 0;
  background-color: #3b58a1;
  color: white;
  border-radius: 3px;
  border: 0px;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  width: 15%;
  max-width: 185px;
  height: 55px; }

.header-button > span {
  display: inline-block;
  margin: 10px;
  text-transform: none; }

.headernav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

main > header > div.headernav-wrapper > h1 {
  display: inline-block;
  font-size: 100px;
  font-weight: bold;
  color: #e1e8f0;
  margin: 40px 0px 0px 100px; }

main > header > div.headernav-wrapper > ul {
  display: inline-block;
  margin: 0; }

main > header > div.headernav-wrapper > ul > li {
  display: inline-block;
  margin: 10px; }

main > header > div.headernav-wrapper > ul > li > a {
  color: white;
  font-weight: 600; }
  main > header > div.headernav-wrapper > ul > li > a:hover {
    cursor: pointer;
    color: #3b58a1;
    text-decoration: underline; }

.schedule-wrapper {
  margin: 40;
  position: relative; }

div.schedule-wrapper > table > thead > tr, div.schedule-wrapper > table > tbody > tr {
  border-bottom: 0px; }

div.schedule-wrapper > table > thead > tr > th, div.schedule-wrapper > table > tbody > tr > td {
  padding: 0px;
  border-radius: 0px; }

.card-icon-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card-icon-bar > i.material-icons {
  font-size: 1.5rem; }

.card-icon--color-orange {
  color: #dd7d1e; }

.card-icon--color-green {
  color: #179c71; }

.card-icon--color-grey {
  color: #9b9b9b; }

.card-icon--hidden {
  visibility: hidden; }

.schedule-header-time-column {
  display: inline-block;
  height: 60px;
  width: 9% !important;
  position: relative;
  background-color: #eee; }

.schedule-header {
  display: inline-block;
  height: 60px;
  width: 12.7%;
  background-color: #eee;
  text-align: center; }

.schedule-header > p {
  margin: 5px;
  color: #7a797a; }

.table-time-block {
  display: inline-block;
  height: 120px;
  width: 9%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.table-time-block-white {
  background-color: white; }

.table-time-block-dark {
  background-color: #eee; }

.card-schedule {
  display: inline-block;
  height: 180px;
  width: 12.7%;
  margin-left: 0.3%;
  padding: 5px 5px 5px 10px !important;
  background-color: #3b58a1;
  color: white;
  border-bottom: 1px solid #99b1cf;
  position: absolute; }
  .card-schedule:hover {
    cursor: pointer;
    background-color: #5f80d2; }

.card-schedule:hover .card-time {
  color: white; }

.card-schedule > h5 {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0; }

.card-p--margin {
  margin: 0; }

div.schedule-wrapper > table.responsive-table > thead > tr {
  position: relative; }

.card-time {
  font-size: 1.2rem;
  font-weight: bold;
  color: #76b4fc; }

.schedule--positionY1 {
  position: absolute;
  right: 78%; }

.schedule--positionY2 {
  position: absolute;
  right: 65%; }

.schedule--positionY3 {
  position: absolute;
  right: 52%; }

.schedule--positionY4 {
  position: absolute;
  right: 39%; }

.schedule--positionY5 {
  position: absolute;
  right: 26%; }

.schedule--positionY6 {
  position: absolute;
  right: 13%; }

.schedule--positionY7 {
  position: absolute;
  right: 0%; }

.card-student--positionX1 {
  position: absolute;
  top: 240px; }

.card-student--positionX2 {
  position: absolute;
  top: 420px; }

.card-student--positionX3 {
  position: absolute;
  top: 600px; }

.card-student--positionX4 {
  position: absolute;
  top: 780px; }

.card-student--positionX5 {
  position: absolute;
  top: 960px; }

.card-student--positionX6 {
  position: absolute;
  top: 1140px; }

.card-student--positionX7 {
  position: absolute;
  top: 1320px; }

.card-student--positionX8 {
  position: absolute;
  top: 1500px; }

.card-student--positionX9 {
  position: absolute;
  top: 1680px; }

/*# sourceMappingURL=styles.css.map */