.menu-color 
    background-color: rgba(21, 18, 72, 1)

html, body
    position: relative
    min-height: 100%

.nav--wrapper
    height: 30%
    min-height: 100px
    position: relative


.sidenav
    width: 338px
    padding-bottom: 0px

.nav--wrapper>ul.collection
    position: absolute
    bottom: 0

li.collection-item.avatar>img.nav-icon-custom.circle
    background-color: white
    width: 30px !important
    height: 30px !important

li.collection-item.avatar>a>img.icon-custom.circle
    background-color: white
    width: 20px !important
    height: 20px !important
    position: relative
    left: 52px !important

ul.collection
    border: none !important
    &li.collection-item
        border: none !important

li.collecton-item
    position: relative

.nav-icon-custom
    display: inline-block
    width: 30px
    height: 30px

.logo-custom
    padding-left: 96px !important
    font-size: 24px

.collection .collection-item
    background-color:  #151248 !important
    border-bottom: none !important
    color: white

.collection .collection-item p.logo-custom span
    font-size: 26px
    background-color: rgb(221,125,30)
    color: white
    text-align: center
    line-height: .5
    border-radius: 50% 
    display: inline-block
    width: 18px
    height: 18px
    position: absolute
    top: 51px
    left: 131px

li.collection-item.avatar>a 
    display: inline-block

i.material-icons
    font-size: 25px !important
    line-height: 42px
    position: absolute
    left: 130px !important
    &:hover
        cursor: pointer

.sidenav li>a>img.icon-custom 
    width: 20px
    height: 20px
    position: relative
    left: 40px !important
    margin: 0

.nav--wrapper>ul
    display: block
    width: 100%

.nav--wrapper li>a>img
    width: 20px
    height: 20px
    position: relative
    left: 40px !important
    margin: 0

.collection .collection-item.avatar
    min-height: 55px
    padding-left: 85px

img.avatar-position
    left: 90% !important
    width: 20px !important
    height: 20px !important

.collection .circle
    left: 85px !important





.side-menu__custom
    // transform: translateX(0%)

    // это изначальное положение навигационной панели,
    // которое должно быть перенесено в анимацию на JS
    transform: translateX(-297px)



    z-index: 10
    height: 100%
    transition: 0.6s

    // это анимация, которая должна быть реализована на JS,
    // должна работать не при наведении курсора на 
    // панель навигации, а при "вытягивании" мышью из своего
    // начального состояния
    // иконки справа должны при этом исчезнуть как в данной анимации

    &:hover
        cursor: pointer
        transform: translateX(0%)
        transition: 0.6s

.side-menu__custom:hover li>a img.icon-custom

    display: none
    transition-delay: 1s

.side-menu__custom:hover li>a.secondary-content>img.icon-custom.circle
    display: none
    transition-delay: 1s

.sidenav li>a
    color: white


.container-custom
    margin: auto 45px

