.main-color {
  background-color: #213b63; }

.footer-custom {
  margin: 0 auto;
  padding: 0px 80px !important; }

footer .row .col {
  padding: 0px 20px; }

.footer-h5--margin {
  margin: 0px 10px 15px 10px;
  line-height: 100% !important; }

.footer-p--margin {
  margin: 5px 10px; }

.footer-a--color {
  color: #9da8ba; }
  .footer-a--color:hover {
    cursor: pointer; }

.footer-icon {
  color: white;
  font-size: 30px;
  margin: 5px 10px 6px 10px; }

footer .footer-p--margin {
  font-size: 14px;
  font-weight: light;
  color: #9da8ba; }

footer .footer-h5--margin {
  font-size: 20px;
  font-weight: light !important;
  color: white; }

.footer-sections--padding {
  padding-bottom: 50px; }

footer.page-footer.main-color.footer-custom > div div.row {
  margin-bottom: 0px !important; }

div.footer-copyright {
  min-height: 20px !important;
  padding: 0px !important;
  font-size: 12px !important;
  color: #9da8ba;
  border-top: 1px solid #9da8ba; }

.container-custom {
  padding: 35px 0px !important; }

.footer-border-left {
  border-left: 1px solid #9da8ba; }

.footer-border-right {
  border-right: 1px solid #9da8ba; }

/*# sourceMappingURL=styles.css.map */