.ecamp-color {
  background-color: #ff8f00; }

.ecamp-tcol {
  color: #ff8f00; }

.wb-color {
  background-color: white; }

.wc-color {
  color: white; }

.opas {
  background: rgba(255, 255, 255, 0.9); }

.blc {
  color: black;
  focus-color: #ff8f00; }

.circl {
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 40px; }

a.btn {
  margin-top: 30%; }

.modal {
  max-height: 100%;
  overflow: hidden; }

input[type="submit"] {
  margin-top: 50px; }

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0; }

.log-padd {
  padding: 6% !important; }

.reg_indent {
  margin-right: 25px; }

.section {
  padding: 0 15%; }

.log {
  font-size: 40px;
  color: black;
  padding: 50px 30px; }

.relative {
  position: relative; }

ul.right li:hover ul.dropdownMenu {
  display: block;
  background-color: #ff8f00; }

.dropdownMenu {
  position: absolute;
  left: 1px;
  top: 64px;
  display: none; }
  .dropdownMenu > li > a {
    width: 93px;
    background-color: white;
    color: black;
    padding: 0 0 0 15px !important;
    text-align: left; }

.back-img-top {
  padding: 7%;
  background-color: #7e93bb;
  background-image: url(Photo-1.png);
  background-size: cover;
  height: 855px; }

.back-img-mid {
  padding: 10% 10%;
  background-color: #7e93bb;
  background-image: url(Photo-2.png);
  background-size: cover;
  height: 920px; }

.back-img-bot {
  padding: 2% 10% 2% 10%;
  background-color: #7e93bb;
  background-image: url(Photo-3.png);
  background-size: cover; }

.text-mar {
  margin: 10% auto;
  padding: 0 10%; }

.wid {
  height: 20px; }

.padd {
  padding: 1% 5% 5% 5%; }

.card {
  width: 100px;
  height: 100px; }

.carousel .indicators {
  bottom: -29px !important; }

.carousel .indicators .indicator-item {
  border: 1px solid black; }

.carousel .carousel-item {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible !important; }

.pict {
  width: 430px;
  height: 380px; }

.card {
  width: 100%;
  height: 400px;
  margin-top: 0% !important; }

.card-three {
  background-image: url(./News_Events/student-life1.png);
  background-size: cover; }

.otstup {
  margin: 0 0 0 70%; }

.otst1 {
  padding: 0 0 5% 0; }

.text-marg {
  margin: 10% 0 30% 0; }

.carousel .indicators .indicator-item.active {
  background-color: #000; }

/*# sourceMappingURL=styles.css.map */
