html 
    background: url(background-x2.png) 100% 100%
    min-width: 1023px

html, body
    position: relative

main
    padding: 0px 15px 880px 15px

.menu-color 
    background-color: rgba(21, 18, 72, 1)

.sidenav
    width: 338px
    padding-bottom: 10px

li.collection-item.avatar>img.nav-icon-custom.circle
    background-color: white
    width: 30px !important
    height: 30px !important

li.collection-item.avatar>a>img.icon-custom.little-circle
    background-color: white
    width: 20px !important
    height: 20px !important
    position: relative
    left: 40px !important

ul.collection
    border: none !important
    &li.collection-item
        border: none !important

li.collecton-item
    position: relative

.nav-icon-custom
    display: inline-block
    width: 30px
    height: 30px

.logo-custom
    padding-left: 96px !important
    font-size: 24px

.collection .collection-item
    background-color:  #151248 !important
    border-bottom: none !important
    color: white

.collection .collection-item p.logo-custom span
    font-size: 26px
    background-color: rgb(221,125,30)
    color: white
    text-align: center
    line-height: 0.38
    border-radius: 50% 
    display: inline-block
    width: 18px
    height: 18px
    position: absolute
    top: 51px
    left: 131px

li.collection-item.avatar>a 
    display: inline-block


.sidenav li>a>img.icon-custom 
    width: 20px
    height: 20px
    position: relative
    left: 40px !important
    margin: 0

.nav--wrapper--bottom>ul
    display: block
    width: 100%

.nav--wrapper--bottom li>a>img
    width: 20px
    height: 20px
    position: relative
    left: 40px !important
    margin: 0

.collection .collection-item.avatar
    min-height: 50px
    padding-left: 85px

img.avatar-position
    left: 90% !important
    width: 20px !important
    height: 20px !important

.collection .circle
    left: 85px !important

.little-circle
    border-radius: 50%
    background-color: white



    // это анимация, которая должна быть реализована на JS
    // работать должна не при наведении курсора на 
    // панель навигации, а при "вытягивании" мышью из своего
    // начального состояния
    // иконки справа должны при этом исчезнуть как в данной анимации

.side-menu__custom
    // transform: translateX(0%)

    // это изначальное положение навигационной панели,
    // которое должно быть перенесено в анимацию на JS

    transform: translateX(-297px)


    display: flex
    flex-direction: column
    justify-content: space-between
    z-index: 10
    height: 100%
    transition: 0.6s
    &:hover
        cursor: pointer
        transform: translateX(0%)
        transition: 0.6s

.side-menu__custom:hover li>a img.icon-custom

    display: none
    transition-delay: 1s

.side-menu__custom:hover li>a.secondary-content>img.icon-custom.little-circle
    display: none
    transition-delay: 1s

.sidenav li>a
    color: white
    height: 40px !important

.header-button
    padding: 0
    background-color: rgb(59, 88, 161)
    color: white
    border-radius: 3px
    border: 0px
    font-size: 15px
    font-weight: 500
    margin: 0
    width: 15%
    max-width: 185px
    height: 55px
    display: inline-block !important

.header-button>span
    display: inline-block
    margin: 10px
    text-transform: none

.headernav-wrapper
    display: flex
    justify-content: space-around
    flex-flow: row
    align-items: flex-end

main>header>div.headernav-wrapper>h1
    display: inline-block
    font-size: 100px
    font-weight: bold
    color: rgb(225,232,240)
    margin: 40px 0px 0px 100px

main>header>div.headernav-wrapper>ul 
    display: inline-block
    margin: 0

main>header>div.headernav-wrapper>ul>li 
    display: inline-block
    margin: 10px

main>header>div.headernav-wrapper>ul>li>a
    color: white
    font-weight: 600
    &:hover
        cursor: pointer
        color: rgb(59, 88, 161)
        text-decoration: underline

.schedule-wrapper
    margin: 40
    position: relative

div.schedule-wrapper>table>thead>tr,div.schedule-wrapper>table>tbody>tr
    border-bottom: 0px

div.schedule-wrapper>table>thead>tr>th,div.schedule-wrapper>table>tbody>tr>td

    padding: 0px
    border-radius: 0px

.card-icon-bar
    display: flex
    justify-content: space-between

.card-icon-bar>i.material-icons
    font-size: 1.5rem

.card-icon--color-orange
    color: rgb(221, 125, 30)
    
.card-icon--color-green
    color: rgb(23, 156, 113)

.card-icon--color-grey
    color: rgb(155, 155, 155)

.card-icon--hidden
    visibility: hidden

.schedule-thead
    height: 60px
    position: relative


.schedule-header-time-column
    display: inline-block
    height: 60px
    width: 9%
    padding: 10px
    position: absolute
    left: 0%

    background-color: #eee

.schedule-header
    display: inline-block
    height: 60px
    width: 12.7%

    background-color: #eee
    text-align: center

.schedule-header>p 
    margin: 5px
    color: #7a797a

.table-time-block
    display: inline-block
    height: 120px
    width: 9%
    text-align: center
    font-size: 14px
    font-weight: bold
    padding:
        top: 50px !important
        bottom: 50px !important

.table-time-block-white
    background-color: white

.table-time-block-dark
    background-color: #eee

.card-schedule
    display: inline-block
    height: 180px
    width: 12.7%
    margin-left: 0.3%
    padding: 5px 5px 5px 10px !important
    background-color: rgb(59,88,161)
    color: white
    border-bottom: 1px solid rgb(153, 177, 207)
    position: absolute
    &:hover
        cursor: pointer
        background-color: rgb(95,128,210)

.card-schedule:hover .card-time
    color: white

.card-schedule>h5
    margin:
        top: 10px
        bottom: 5px
        left: 0
        right: 0

.card-p--margin
    margin: 0

div.schedule-wrapper>table.responsive-table>thead>tr
    position: relative

.card-time
    font-size: 1.2rem
    font-weight: bold
    color: rgb(118, 180, 252)

.schedule--positionY1
    position: absolute
    right: 78%

.schedule--positionY2
    position: absolute
    right: 65%

.schedule--positionY3
    position: absolute
    right: 52%

.schedule--positionY4
    position: absolute
    right: 39%

.schedule--positionY5
    position: absolute
    right: 26%
        
.schedule--positionY6
    position: absolute
    right: 13%

.schedule--positionY7
    position: absolute
    right: 0%

.card--positionX1
    position: absolute
    top: 240px

.card--positionX2
    position: absolute
    top: 420px

.card--positionX3
    position: absolute
    top: 600px

.card--positionX4
    position: absolute
    top: 780px

.card--positionX5
    position: absolute
    top: 960px

.card--positionX6
    position: absolute
    top: 1140px

.card--positionX7
    position: absolute
    top: 1320px

.card--positionX8
    position: absolute
    top: 1500px

.card--positionX9
    position: absolute
    top: 1680px