body 
    background: url(background-x2.png) 100% 100%
    padding: 0px 15px 880px 15px

.header-button
    padding: 0
    background-color: rgb(59, 88, 161)
    color: white
    border-radius: 3px
    border: 0px
    font-size: 15px
    font-weight: 500
    margin: 0
    width: 185px
    height: 55px

.header-button>span
    display: inline-block
    margin: 10px
    text-transform: none
    




.headernav-wrapper
    display: flex
    justify-content: space-around
    flex-flow: row
    align-items: flex-end


main>header>div.headernav-wrapper>h1
    display: inline-block
    font-size: 100px
    font-weight: bold
    color: rgb(225,232,240)
    margin: 40px 0px 0px 100px

main>header>div.headernav-wrapper>ul 
    display: inline-block
    margin: 0



main>header>div.headernav-wrapper>ul>li 
    display: inline-block
    margin: 10px
    // font-size: 14px
    color: white
    font-weight: 600
    &:hover
        color: rgb(59, 88, 161)
        text-decoration: underline