body {
  background: url(background-x2.png) 100% 100%;
  padding: 0px 15px 880px 15px; }

.header-button {
  padding: 0;
  background-color: #3b58a1;
  color: white;
  border-radius: 3px;
  border: 0px;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  width: 185px;
  height: 55px; }

.header-button > span {
  display: inline-block;
  margin: 10px;
  text-transform: none; }

.headernav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

main > header > div.headernav-wrapper > h1 {
  display: inline-block;
  font-size: 100px;
  font-weight: bold;
  color: #e1e8f0;
  margin: 40px 0px 0px 100px; }

main > header > div.headernav-wrapper > ul {
  display: inline-block;
  margin: 0; }

main > header > div.headernav-wrapper > ul > li {
  display: inline-block;
  margin: 10px;
  color: white;
  font-weight: 600; }
  main > header > div.headernav-wrapper > ul > li:hover {
    color: #3b58a1;
    text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */