html 
    background: url(background-x2.png) 100% 100%
    min-width: 1300px
    
body 
    padding: 0px 15px 880px 15px

.header-button
    padding: 0
    background-color: rgb(59, 88, 161)
    color: white
    border-radius: 3px
    border: 0px
    font-size: 15px
    font-weight: 500
    margin: 0
    width: 185px
    height: 55px

.header-button>span
    display: inline-block
    margin: 10px
    text-transform: none

.headernav-wrapper
    display: flex
    justify-content: space-around
    flex-flow: row
    align-items: flex-end
    max-width: 1300px

main>header>div.headernav-wrapper>h1
    display: inline-block
    font-size: 100px
    font-weight: bold
    color: rgb(225,232,240)
    margin: 40px 0px 0px 100px

main>header>div.headernav-wrapper>ul 
    display: inline-block
    margin: 0

main>header>div.headernav-wrapper>ul>li 
    display: inline-block
    margin: 10px
    // font-size: 14px
    color: white
    font-weight: 600
    &:hover
        color: rgb(59, 88, 161)
        text-decoration: underline

.schedule-wrapper
    margin-left: 65px
    margin-top: 40px
    min-width: 1200px


div.schedule-wrapper>table>thead>tr,div.schedule-wrapper>table>tbody>tr
    border-bottom: 0px


div.schedule-wrapper>table>thead>tr>th,div.schedule-wrapper>table>tbody>tr>td

    padding: 0px
    border-radius: 0px

.schedule-header-time-column
    display: inline-block
    height: 60px
    width: 120px

    background-color: #eee

.schedule-header
    display: inline-block
    height: 60px
    min-width: 150px
    margin-left: 3px
    background-color: #eee
    text-align: center

.schedule-header>p 
    margin: 5px
    color: #7a797a

.table-time-block1
    display: inline-block
    height: 120px
    width: 120px
    background-color: white
    text-align: center
    padding:
        top: 50px !important
        bottom: 50px !important

.table-time-block2
    display: inline-block
    height: 120px
    width: 120px
    background-color: #eee
    text-align: center
    padding:
        top: 50px !important
        bottom: 50px !important
